<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DrugBox 💊</h1>
    <p>Hi, you have been invited by <%=@invitation.sender.name%>.</p>
    <p>Please click on the following link to join...</p>
    <a href="<%=@invitation.link%>">Join Us</a>
  </body>
</html>