<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p>Please click on the following link to join...</p>
   <a href="<%=@invitation.link%>">Join Us</a>
  </body>
</html>